<title>LOGS</title><p style='font-family: Arial; font-size: 40px'>Start: 2021-07-18T15-33-09-720
</p>[15:33:09] [32m  _____ ____  _____ _____    ____ ___ ___ _   _ ____     ____ _        _    ___ __  __ _____ ____  [39m
[32m |  ___|  _ \| ____| ____|  / ___/ _ \_ _| \ | / ___|   / ___| |      / \  |_ _|  \/  | ____|  _ \ [39m
[32m | |_  | |_) |  _| |  _|   | |  | | | | ||  \| \___ \  | |   | |     / _ \  | || |\/| |  _| | |_) |[39m
[32m |  _| |  _ <| |___| |___  | |__| |_| | || |\  |___) | | |___| |___ / ___ \ | || |  | | |___|  _ < [39m
[32m |_|   |_| \_\_____|_____|  \____\___/___|_| \_|____/   \____|_____/_/   \_\___|_|  |_|_____|_| \_\[39m
[32m                                                                                                   [39m
[15:33:09]  - Created by Mrozio
[15:33:09]  - Logs on port 5000
[15:33:09]  
[15:33:39] [33mTIME - 15:33:39
[15:33:39] ========================================================================
[15:33:40] Account 7: You must wait 98.9 minutes before you can claim coins again!
[15:33:40] Account 4: You must wait 98.9 minutes before you can claim coins again!
[15:33:40] Account 5: You must wait 98.9 minutes before you can claim coins again!
[15:33:40] Account 2: You must wait 98.9 minutes before you can claim coins again!
[15:33:40] Account 1: You must wait 98.9 minutes before you can claim coins again!
[15:33:40] Account 8: You must wait 98.9 minutes before you can claim coins again!
[15:33:40] Account 6: You must wait 98.9 minutes before you can claim coins again!
[15:33:40] Account 3: You must wait 98.9 minutes before you can claim coins again!
[15:33:40] Account 10: You must wait 99.2 minutes before you can claim coins again!
[15:33:40] Account 9: You must wait 98.9 minutes before you can claim coins again!
[15:33:40] Account 0: You must wait 103.2 minutes before you can claim coins again!
[15:34:09] [33mTIME - 15:34:09
[15:34:09] ========================================================================
[15:34:10] Account 1: You must wait 98.4 minutes before you can claim coins again!
[15:34:10] Account 0: You must wait 102.7 minutes before you can claim coins again!
[15:34:10] Account 9: You must wait 98.4 minutes before you can claim coins again!
[15:34:10] Account 7: You must wait 98.4 minutes before you can claim coins again!
[15:34:10] Account 2: You must wait 98.4 minutes before you can claim coins again!
[15:34:10] Account 3: You must wait 98.4 minutes before you can claim coins again!
[15:34:10] Account 8: You must wait 98.4 minutes before you can claim coins again!
[15:34:10] Account 10: You must wait 98.7 minutes before you can claim coins again!
[15:34:10] Account 4: You must wait 98.4 minutes before you can claim coins again!
[15:34:10] Account 5: You must wait 98.4 minutes before you can claim coins again!
[15:34:10] Account 6: You must wait 98.4 minutes before you can claim coins again!
[15:34:39] [33mTIME - 15:34:39
[15:34:39] ========================================================================
[15:34:40] Account 0: You must wait 102.2 minutes before you can claim coins again!
[15:34:40] Account 3: You must wait 97.9 minutes before you can claim coins again!
[15:34:40] Account 2: You must wait 97.9 minutes before you can claim coins again!
[15:34:40] Account 8: You must wait 97.9 minutes before you can claim coins again!
[15:34:40] Account 10: You must wait 98.2 minutes before you can claim coins again!
[15:34:40] Account 6: You must wait 97.9 minutes before you can claim coins again!
[15:34:40] Account 5: You must wait 97.9 minutes before you can claim coins again!
[15:34:40] Account 9: You must wait 97.9 minutes before you can claim coins again!
[15:34:40] Account 7: You must wait 97.9 minutes before you can claim coins again!
[15:34:40] Account 1: You must wait 97.9 minutes before you can claim coins again!
[15:34:40] Account 4: You must wait 97.9 minutes before you can claim coins again!
[15:35:09] [33mTIME - 15:35:09
[15:35:09] ========================================================================
[15:35:10] Account 6: You must wait 97.4 minutes before you can claim coins again!
[15:35:10] Account 1: You must wait 97.4 minutes before you can claim coins again!
[15:35:10] Account 3: You must wait 97.4 minutes before you can claim coins again!
[15:35:10] Account 5: You must wait 97.4 minutes before you can claim coins again!
[15:35:10] Account 9: You must wait 97.4 minutes before you can claim coins again!
[15:35:10] Account 10: You must wait 97.7 minutes before you can claim coins again!
[15:35:10] Account 2: You must wait 97.4 minutes before you can claim coins again!
[15:35:10] Account 8: You must wait 97.4 minutes before you can claim coins again!
[15:35:10] Account 7: You must wait 97.4 minutes before you can claim coins again!
[15:35:10] Account 4: You must wait 97.4 minutes before you can claim coins again!
[15:35:10] Account 0: You must wait 101.7 minutes before you can claim coins again!
[15:35:39] [33mTIME - 15:35:39
[15:35:39] ========================================================================
[15:35:40] Account 0: You must wait 101.2 minutes before you can claim coins again!
[15:35:40] Account 2: You must wait 96.9 minutes before you can claim coins again!
[15:35:40] Account 1: You must wait 96.9 minutes before you can claim coins again!
[15:35:40] Account 10: You must wait 97.2 minutes before you can claim coins again!
[15:35:40] Account 3: You must wait 96.9 minutes before you can claim coins again!
[15:35:40] Account 4: You must wait 96.9 minutes before you can claim coins again!
[15:35:40] Account 5: You must wait 96.9 minutes before you can claim coins again!
[15:35:40] Account 6: You must wait 96.9 minutes before you can claim coins again!
[15:35:40] Account 9: You must wait 96.9 minutes before you can claim coins again!
[15:35:40] Account 7: You must wait 96.9 minutes before you can claim coins again!
[15:35:40] Account 8: You must wait 96.9 minutes before you can claim coins again!
[15:36:09] [33mTIME - 15:36:09
[15:36:09] ========================================================================
[15:36:10] Account 6: You must wait 96.4 minutes before you can claim coins again!
[15:36:10] Account 1: You must wait 96.4 minutes before you can claim coins again!
[15:36:10] Account 8: You must wait 96.4 minutes before you can claim coins again!
[15:36:10] Account 2: You must wait 96.4 minutes before you can claim coins again!
[15:36:10] Account 10: You must wait 96.7 minutes before you can claim coins again!
[15:36:10] Account 0: You must wait 100.7 minutes before you can claim coins again!
[15:36:10] Account 5: You must wait 96.4 minutes before you can claim coins again!
[15:36:10] Account 7: You must wait 96.4 minutes before you can claim coins again!
[15:36:10] Account 4: You must wait 96.4 minutes before you can claim coins again!
[15:36:10] Account 9: You must wait 96.4 minutes before you can claim coins again!
[15:36:10] Account 3: You must wait 96.4 minutes before you can claim coins again!
[15:36:39] [33mTIME - 15:36:39
[15:36:39] ========================================================================
[15:36:40] Account 5: You must wait 95.9 minutes before you can claim coins again!
[15:36:40] Account 6: You must wait 95.9 minutes before you can claim coins again!
[15:36:40] Account 4: You must wait 95.9 minutes before you can claim coins again!
[15:36:40] Account 1: You must wait 95.9 minutes before you can claim coins again!
[15:36:40] Account 8: You must wait 95.9 minutes before you can claim coins again!
[15:36:40] Account 2: You must wait 95.9 minutes before you can claim coins again!
[15:36:40] Account 7: You must wait 95.9 minutes before you can claim coins again!
[15:36:40] Account 3: You must wait 95.9 minutes before you can claim coins again!
[15:36:40] Account 10: You must wait 96.2 minutes before you can claim coins again!
[15:36:40] Account 0: You must wait 100.2 minutes before you can claim coins again!
[15:36:40] Account 9: You must wait 95.9 minutes before you can claim coins again!
[15:37:09] [33mTIME - 15:37:09
[15:37:09] ========================================================================
[15:37:10] Account 5: You must wait 95.4 minutes before you can claim coins again!
[15:37:10] Account 4: You must wait 95.4 minutes before you can claim coins again!
[15:37:10] Account 2: You must wait 95.4 minutes before you can claim coins again!
[15:37:10] Account 1: You must wait 95.4 minutes before you can claim coins again!
[15:37:10] Account 10: You must wait 95.7 minutes before you can claim coins again!
[15:37:10] Account 6: You must wait 95.4 minutes before you can claim coins again!
[15:37:10] Account 8: You must wait 95.4 minutes before you can claim coins again!
[15:37:10] Account 7: You must wait 95.4 minutes before you can claim coins again!
[15:37:10] Account 0: You must wait 99.7 minutes before you can claim coins again!
[15:37:10] Account 9: You must wait 95.4 minutes before you can claim coins again!
[15:37:10] Account 3: You must wait 95.4 minutes before you can claim coins again!
[15:37:39] [33mTIME - 15:37:39
[15:37:39] ========================================================================
[15:37:40] Account 9: You must wait 94.9 minutes before you can claim coins again!
[15:37:40] Account 2: You must wait 94.9 minutes before you can claim coins again!
[15:37:40] Account 5: You must wait 94.9 minutes before you can claim coins again!
[15:37:40] Account 10: You must wait 95.2 minutes before you can claim coins again!
[15:37:40] Account 1: You must wait 94.9 minutes before you can claim coins again!
[15:37:40] Account 0: You must wait 99.2 minutes before you can claim coins again!
[15:37:40] Account 6: You must wait 94.9 minutes before you can claim coins again!
[15:37:40] Account 3: You must wait 94.9 minutes before you can claim coins again!
[15:37:40] Account 7: You must wait 94.9 minutes before you can claim coins again!
[15:37:40] Account 8: You must wait 94.9 minutes before you can claim coins again!
[15:37:40] Account 4: You must wait 94.9 minutes before you can claim coins again!
[15:38:09] [33mTIME - 15:38:09
[15:38:09] ========================================================================
[15:38:10] Account 1: You must wait 94.4 minutes before you can claim coins again!
[15:38:10] Account 8: You must wait 94.4 minutes before you can claim coins again!
[15:38:10] Account 9: You must wait 94.4 minutes before you can claim coins again!
[15:38:10] Account 4: You must wait 94.4 minutes before you can claim coins again!
[15:38:10] Account 3: You must wait 94.4 minutes before you can claim coins again!
[15:38:10] Account 7: You must wait 94.4 minutes before you can claim coins again!
[15:38:10] Account 6: You must wait 94.4 minutes before you can claim coins again!
[15:38:10] Account 5: You must wait 94.4 minutes before you can claim coins again!
[15:38:10] Account 0: You must wait 98.7 minutes before you can claim coins again!
[15:38:10] Account 10: You must wait 94.7 minutes before you can claim coins again!
[15:38:10] Account 2: You must wait 94.4 minutes before you can claim coins again!
